::ng-deep {
  .carousel-next-btn, .carousel-prev-btn {
    height: 4rem !important;
    width: 2rem !important;

    @media screen and (max-width: 698px) {
      width: 1.6rem !important;
      height: 3rem!important;
    }
  }

  .carousel-next-btn {
    border-bottom-right-radius: .7rem;
    border-top-right-radius: .7rem;
  }

  .carousel-prev-btn {
    border-bottom-left-radius: .7rem;
    border-top-left-radius: .7rem;
  }
}

.container {
  max-width: 1300px;
  margin: 1rem auto;
}
